<div class="addTask" *ngIf="isDataLoaded">
  <div style="padding-top:10px">
    <form class="form-horizontal" (ngSubmit)="onSubmit(updateTaskForm)" [formGroup]="updateTaskForm">
      <div class="form-group">
        <label class="control-label col-sm-2" for="task">Task:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="task" id="task" formControlName="taskName" disabled>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="priority">Priority:</label>
        <div class="col-sm-6">
          <input type="range" class="form-control" min="0" max="30" id="priority" formControlName="priority">
        </div>
        <div *ngIf="formSubmitted && vldtn.Priority.errors" class="col-sm-4 invalid-feedback">Priority is required</div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="ptask">Parent Task:</label>
        <div class="col-sm-6">
          <select id="ParentId" class="form-control" formControlName="parentId">
            <option>Select Parent</option>
            <option *ngFor="let t of parentTaskList" [ngValue]="t.parentId">{{t.parentTask}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="startDate">Start Date:</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" name="startDate" id="startDate" formControlName="startDate">
        </div>
        <div *ngIf="formSubmitted && vldtn.startDate.errors" class="col-sm-4 invalid-feedback">StartDate is required</div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="endDate">End Date:</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" name="endDate" id="endDate" formControlName="endDate">
        </div>
        <div *ngIf="formSubmitted && vldtn.endDate.errors" class="col-sm-4 invalid-feedback">EndDate is required</div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3">
          <input type="submit" value="Update" style="background:grey; font-weight:bolder" class="btn form-control">
        </div>
        <div class="col-sm-3">
          <input type="button" value="Cancel" style="background:grey; font-weight:bolder" class="btn form-control"
          (click)="onCancel()">
        </div>
      </div>
    </form>
  </div>
</div>
